@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

/* reset */
body {
    margin: 0;
    font-family: "Noto Sans KR", sans-serif;
}

/* 공통 */

/* 카드 이미지 */
div.ui-card:first-of-type div.ui-img {
    background: url();
}